:root { 
    --font-colour: #DAFAED;
    --dark-turquoise: #237CA5;
    --logo-colour: #29ABE4;
    --text-color: #012535;
}

*{max-width: 100%;}

body {
    background-image: url(/multimedia/health_science_\ iconic_1302104.jpg);
    background-color: var(--dark-turquoise);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color)
}

.title {
    font-weight: 200;
    font-size: 1.5rem;
    padding: 5px 15px;
    color: var(--text-color);
}

.card {
    background-color: rgba(255, 255, 255, 0.726);
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    max-width: 1024px;
}

.link {
    text-decoration: none;
    color: var(--font-colour);
}

.hero-image {  /*maybe switch to vh and vw and align?? */
    background-color: hsla(198, 78%, 53%, 0.404);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.headshot {
    border-radius: 50%;
    border: 5px solid var(--font-color);
}

.hero-text-main {
    text-align: center;
    color: #DAFAED;
    margin: 10px 0;
}

nav.navbar, footer.main-footer {
    background-color: var(--logo-colour);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display: none;
}

.navbar .link {
    margin: 6px;
}

.navbar img.logo {
    width: 30%;
    max-width: 110px;
    justify-content: flex-start;
    margin-left: 10px;
}

.name-footer img.logo {
    width: 30%;
    max-width: 110px;
}

@media screen and (min-width: 576px) {
    .navlinks {
        display: flex;
        justify-content: space-between;
    }

    .navbar .navlinks .link:hover {
        color: darkgrey;
        transition: color 0.3s linear;
    }
}