:root { 
    --font-colour: #DAFAED;
    --dark-turquoise: #237CA5;
    --logo-colour: #29ABE4;
    --text-color: #012535;
}

*{max-width: 100%;}

body {
    background-image: url(/multimedia/health_science_\ iconic_1302104.jpg);
    background-color: var(--dark-turquoise);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color)
}

.title {
    font-weight: 200;
    font-size: 1.5rem;
    padding: 5px 15px;
    color: var(--text-color);
}

.card {
    background-color: rgba(255, 255, 255, 0.726);
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--font-colour);
}

.hero-image {  /*maybe switch to vh and vw and align?? */
    background-color: hsla(198, 78%, 53%, 0.404);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.headshot {
    border-radius: 50%;
    border: 5px solid var(--font-color);
}

.hero-text-main {
    text-align: center;
    color: #DAFAED;
    margin: 10px 0;
}

nav.navbar, footer.main-footer {
    background-color: var(--logo-colour);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display: none;
}

.navbar .link {
    margin: 6px;
}

.navbar img.logo {
    width: 30%;
    max-width: 110px;
    justify-content: flex-start;
    margin-left: 10px;
}

.contact-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-form .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
}

.name-footer img.logo {
    width: 15%;
    max-width: 110px;
    margin: 5px 0 5px 15px;
    padding: 2px;
}

.name-footer {
    text-align: center;
    display: flex;
    font-size: 0.8rem;
    flex-direction: row;
    align-items: center;
}

.social-footer{
    padding: 5px 5px;
    text-align: center;
}

@media screen and (min-width: 576px) {
    .navlinks {
        display: flex;
        justify-content: space-between;
        transition: color 2s linear;
    }

    .navbar .navlinks .link:hover {
        color: darkgrey;
    }
}

/*progress circles styles*/
.progress-circles {
    display: flex;
    min-height: 10vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    border: 1px solid grey;
}

.circle.per-5 {
    background-image: conic-gradient(var(--dark-turquoise) 5%, var(--font-colour) 0);
    animation: progress5 2s ease-in-out;
}

.circle.per-25 {
    background-image: conic-gradient(var(--dark-turquoise) 25%, var(--font-colour) 0);
    animation: progress25 2s ease-in-out;
}

.circle.per-50 {
    background-image: conic-gradient(var(--dark-turquoise) 50%, var(--font-colour) 0);
    animation: progress50 2s ease-in-out;
}

.circle.per-75 {
    background-image: conic-gradient(var(--dark-turquoise) 75%, var(--font-colour) 0);
    animation: progress75 2s ease-in-out;
}

.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 85px;
    background: grey;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 300;
    color: #DAFAED;
}

@media screen and (min-width: 576px){
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 425px;
    }

}

@keyframes progress5 {
    from {
        background-image: conic-gradient(var(--dark-turquoise) 0)
    }
    to {
        background-image: conic-gradient(var(--dark-turquoise) 5%)
    }
}

@keyframes progress25 {
    from {
        background-image: conic-gradient(var(--dark-turquoise) 0)
    }
    to {
        background-image: conic-gradient(var(--dark-turquoise) 25%)
    }
}

@keyframes progress50 {
    from {
        background-image: conic-gradient(var(--dark-turquoise) 0)
    }
    to {
        background-image: conic-gradient(var(--dark-turquoise) 50%)
    }
}

@keyframes progress75 {
    from {
        background-image: conic-gradient(var(--dark-turquoise) 0)
    }
    to {
        background-image: conic-gradient(var(--dark-turquoise) 75%)
    }
}